@page
@model moment1_2.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>Om mig</h1>

<p>
    Hej! Jag heter Greta. Jag är 23 år gammal. Jag kommer från Stockholm men har de senaste 4 åren bott i Karlstad.<br /><br />
    Jag gick Teknik på gymnasiet eftersom jag var intresserad av webbdesign och matematik. Efter det gick jag diverse kurser på universitet, bland annat mer matematik, tills jag tillslut valde att börja med Webbutvecklingen ordentligt.
    <br /><br />
    Jag tycker väldigt mycket om Webbutveckling eftersom jag gillar att kombinera den tekniska sidan av det men även ha möjligheten att hålla på med något estetiskt.
    Jag försöker alltid att hitta på någon ny design och vara kreativ med webbsidor jag gör. Denna webbsida var inspirerad av gamla retro Jazz-posters.
</p>